<%- include ("./partials/header.ejs") %>
    
    <div class="container mt-5">
        <div class="row">
            <% if(error) { %>
            <div class="alert alert-danger w-100 text-center" role="alert">
                Ocorreu algum erro na leitura dos dados!
            </div>
            <% } %>
        </div>

        <% if(typeof content !== 'undefined') { %> 
            <div class="row">
                <div class="col my-auto">
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col" class="text-uppercase"><%= content.name %></th>
                            <% content.options.forEach(option => { %>
                                <th scope="col" style="white-space: nowrap;"><%= option.name %></th>
                            <% }); %>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Quantidade de Alunos</th>
                            <% content.options.forEach(option => { %>
                                <td><li id="<%=option.name%>" class="item" value="<%= option.value %>"><%= option.value %> (<%= ((option.value * 100) / total_alunos).toPrecision(2) %>%)</li></td>
                            <% }); %>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <dv class="row mt-5">
                <div class="mx-auto col-md-4 col-lg-8">
                    <div class="ct-chart ct-perfect-fourth"></div>
               </div>
            </div>
        <% } %> 
    </div>
<script>
    etariaGraph();

    document.getElementById("etaria").className = "active text-right";
    

    function etariaGraph(){

        var quantidades = [];
        var nomes = [];
        var total = 0;
        var j = 1; 

        var itens = document.getElementsByClassName("item");
        
        for(var i = 0; i < itens.length; i++){
            quantidades[i] = itens[i].value;
            total += itens[i].value;
        }
        
        
        new Chartist.Pie('.ct-chart', {
            labels: ["Jovem", "Adulto", "Idoso"],
            series: quantidades
        }, {
            donut: true,
            donutWidth: 60,
            donutSolid: true,
            startAngle: 270,
            total: total,
            showLabel: true
        });

    }
</script>
<%- include ("./partials/footer.ejs") %>